@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root,
:root.light {
	--bg-color: #eaeaea;
	--text-color: #191919;
	color-scheme: light;
}

:root.dark {
	--bg-color: #000;
	--text-color: #eaeaea;
	color-scheme: dark;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

/* TAILWIND INIT */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAVBAR PHONE SCREEN */
.text-transparent-light {
	-webkit-text-stroke: 1.2px #191919;
}

.text-transparent-dark {
	-webkit-text-stroke: 0.4px #eaeaea;
}
